demos/xunit-net-core-demo/bin
demos/xunit-net-core-demo/obj
/demos/MSTest-visual-studio-demo/Bank/bin/Debug/netstandard2.0
/demos/MSTest-visual-studio-demo/Bank/obj/Debug
/demos/MSTest-visual-studio-demo/Bank/obj/Release
/demos/MSTest-visual-studio-demo/BankTest/bin/Debug
/demos/MSTest-visual-studio-demo/BankTest/obj/
/demos/MSTest-visual-studio-demo/packages
/demos/MSTest-visual-studio-demo/.vs/
/demos/IntelliTest-UnitTestGenerator-Demo/.vs/IntelliTestDemo/v15
/demos/IntelliTest-UnitTestGenerator-Demo/IntelliTestDemo/bin/Debug
/demos/IntelliTest-UnitTestGenerator-Demo/IntelliTestDemo/obj
/demos/IntelliTest-UnitTestGenerator-Demo/IntelliTestDemo/Bank.csproj.user
.vs/slnx.sqlite

demos/python-pytest-demo/__pycache__/
demos/python-pytest-demo/.pytest_cache/
demos/python-pytest-demo/report.xml


demos/nodejs-mocha-demo/node_modules/
demos/nodejs-mocha-demo/node_modules/.bin/mkdirp.cmd


demos/IntelliTest-UnitTestGenerator-Demo/Bank.Tests/bin/
demos/IntelliTest-UnitTestGenerator-Demo/Bank.Tests/obj/
